/* Vous pouvez également ajouter des styles pour les listes dans les statistiques */
ul {
    list-style-type: none;
    padding-left: 0;
}

.MuiListItemText-root {
    line-height: 0;
}

.statsItemsBloc {
    border-color: #189ab4;
    border: 0.1rem solid;
    background-color: #ffffff;
}
